@import "./mixin.scss";
@import "./partials.scss";

.navbar_main {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  transition: 0.3s ease;

  .navbar_top {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: $secondary-color;
    color: $white;
    .navbar_top_wrapper {
      @include maxWidth;
      @include horizontallysapce;
      gap: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: hidden;
      .navbar_top_left {
        @include allCenter;
        gap: 2rem;
        div {
          @include allCenter;
          gap: 6px;
          font-size: 0.8rem;
          font-family: $font-Raleway;
        }
      }
      .navbar_top_right {
        @include allCenter;
        gap: 0.8rem;
        h6 {
          font-weight: 400;
          font-size: 0.7rem;
        }
        div {
          @include allCenter;
          gap: 0.5rem;
          font-family: $font-Raleway;
          svg {
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
              transition: 0.3s ease;
              transform: scale(1.3);
            }
          }
        }
      }
      @media screen and (max-width: 600px) {
        .navbar_top_left {
          div {
            font-size: 0.6rem;
          }
        }
        .navbar_top_right {
          h6 {
            font-size: 0.6rem;
          }
        }
      }
      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }
  }

  .navbar {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    border-bottom: 1px solid $extra-light-gray;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    .navbar_wrapper {
      @include maxWidth;
      @include horizontallysapce;
      gap: 20px;

      .navbar_logo {
        position: relative;
        z-index: 100;
        width: 150px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (max-width: 600px) {
          width: 120px;
          height: 40px;
        }
      }

      .navbar_menu {
        @include allCenter;
        gap: 60px;
        z-index: 99;
        ul {
          @include allCenter;
          list-style-type: none;
          gap: 3rem;
          transition: 0.5s ease;

          li {
            font-family: $font-Montserrat;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            letter-spacing: 1px;
            cursor: pointer;
          }
        }
        @media screen and (max-width: 900px) {
          gap: 16px;

          ul {
            position: absolute;
            width: 100%;
            background-color: $white;
            height: 300px;
            left: 0;
            top: -400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: -1;
            box-shadow: 0px 20px 10px 1px rgba(0, 0, 0, 0.1);
            li {
              font-size: 0.9rem;
            }
          }
        }

        @media screen and (max-width: 600px) {
          ul {
            li {
              font-size: 0.8rem;
            }
          }
        }
      }
      .navbar_action {
        button {
          @include button(10px 16px, 6px);
          font-weight: 600;
          box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.2);
          @media screen and (max-width: 900px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 600px) {
            font-size: 0.6rem;
          }
        }
      }

      // HangurgerMenu
      .navbar_hanburgerMenu {
        color: $white;
        display: none;

        @media screen and (max-width: 900px) {
          display: block;
        }
      }
    }
  }
}

//   NavbarSticky
.navbarSticky {
  top: -36px;
  transition: 0.3s ease;
  @media screen and (max-width: 500px) {
    top: -58px;
  }
}

// Active
.navbar_menuActive {
  ul {
    top: 106px !important;
    transition: 0.5s ease;
  }
}
