$primary-color: #ef0303;
$secondary-color: #4e535a;

$background: #fbfeff;

$white: #fff;
$black: #191919;
$light-black: #3e3e3e;
$red: #df2424;
$gray: #393939;
$light-gray: #414042;
$extra-light-gray: #f8f8f8;

$font-goodtimes: goodtimes;
$font-Montserrat: "Montserrat", sans-serif;
$font-Raleway: "Raleway", sans-serif;
